* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background: linear-gradient(135deg, #fff5f5 0%, #fed7e2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: #ffffff;
    width: 90%;
    max-width: 400px;
    padding: 10px 25px 30px 25px;
    border-radius: 24px;
    border: 1px solid #fbb6ce;
    box-shadow: 0 10px 25px rgba(251, 182, 206, 0.3);
}

header {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

h1 {
    color: #4a5568;
    font-size: 2rem;
    font-weight: 700;
}

header p {
    color: #a0aec0;
    font-size: 0.9rem;
}

.btn-api {
    background: #fbd38d;
    color: #744210;
    width: 100%;
    min-height: 45px;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 0.95rem;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#task-form {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

#task-input {
    flex: 1;
    padding: 12px;
    border: 2px solid #fff5f5;
    background: #fffafb;
    border-radius: 12px;
    outline: none;
    font-size: 1rem;
}

#add-btn {
    background: #f687b3;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
}

#task-list {
    list-style: none;
}

li {
    background: #fffafb;
    padding: 12px 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    border: 1px solid #fff5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    color: #4a5568;
}

/* REGLA DE SUBRAYADO */
.completed span {
    text-decoration: line-through !important;
    color: #cbd5e0 !important;
    opacity: 0.6;
}

.actions {
    display: flex;
    gap: 8px;
}

.actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}
